<div class="bg-white m-4 p-3 border-round">
    <h3 class="m-2">Historique des enregistrements</h3>

    <div class="search-form mb-2">
        <input class="m-2" type="text" pInputText id="name" placeholder="Visiteur" [(ngModel)]="filter.fullname" />
        <p-dropdown class="m-2" [options]="managers" placeholder="Correspondant" id="manager" optionLabel="fullname"
            inputId="float-label" [(ngModel)]="filter.managerName"></p-dropdown>
        <p-dropdown class="m-2" [options]="reasons" optionLabel="label" [(ngModel)]="filter.reason"
            placeholder="Motif de visite" id="reason"></p-dropdown>
        <p-calendar class="m-2" placeholder="Date" [showIcon]="true" [(ngModel)]="filter.startedAt" id="date"
            dateFormat="dd/mm/yy"></p-calendar>


        <p-button icon="pi pi-search" (click)="applyFilters()"></p-button>
        <p-button class="m-2" icon="pi pi-times" (click)="resetFilters()"></p-button>

    </div>

    <p-skeleton *ngIf="loading" width="100%" height="1rem"></p-skeleton>

    <p-table *ngIf="!loading" #dt class="mt-2" [value]="filteredRegisters">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">Visiteur</th>
                <th scope="col">Manager</th>
                <th scope="col">Motif de visite</th>
                <th scope="col">Date d'arrivée</th>
                <th scope="col">Présent</th>
                <th scope="col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-register>
            <tr>
                <td>{{ register.firstname + ' ' + register.lastname }}</td>
                <td>{{ register.managerName }}</td>
                <td>{{ register.reason }}</td>
                <td>{{ register.startedAt }}</td>
                <td>
                    <p-checkbox [(ngModel)]="register.here" [binary]="true" inputId="binary" (onChange)="onCheckboxChange(register)"></p-checkbox>
                </td>
                <td>
                    <p-button (click)="showDialog(register)" icon="pi pi-eye" [link]="true"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog *ngIf="selectedRegister" header="Détails" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
        [draggable]="false" [resizable]="false">
        <p class="m-1">
            <span style="font-weight: bold;">Visiteur : </span>{{ selectedRegister.firstname + " " +
            selectedRegister.lastname }}
        </p>
        <p *ngIf="selectedRegister.mail != ''" class="m-1">
            <span style="font-weight: bold;">Email : </span>{{ selectedRegister.mail }}
        </p>
        <p *ngIf="selectedRegister.mail == ''" class="m-1">
            <span style="font-weight: bold;">Email : </span>Non communiqué
        </p>
        <p *ngIf="selectedRegister.phone != ''" class="m-1">
            <span style="font-weight: bold;">Téléphone : </span>{{ selectedRegister.phone }}
        </p>
        <p *ngIf="selectedRegister.phone == ''" class="m-1">
            <span style="font-weight: bold;">Téléphone : </span>Non communiqué
        </p>
        <p class="m-1">
            <span style="font-weight: bold;">Organisation : </span>{{ selectedRegister.company }}
        </p>
        <p class="m-1">
            <span style="font-weight: bold;">N° de badge : </span>{{ selectedRegister.badge }}
        </p>
        <p class="m-1">
            <span style="font-weight: bold;">Manager : </span>{{ selectedRegister.managerName }}
        </p>

        <p class="m-1">
            <span style="font-weight: bold;">Motif de visite : </span> {{ selectedRegister.reason }}
        </p>
        <p class="m-1">
            <span style="font-weight: bold;">Date d'arrivée : </span> {{ selectedRegister.startedAt }}
        </p>
        <p class="m-1">
            <span style="font-weight: bold;">Durée estimée : </span> {{ selectedRegister.estimateTime }}
        </p>
    </p-dialog>
</div>