<p-menubar>
    <ng-template pTemplate="start">

        <img src="assets/img/autre.png" alt="Logo" style="height: 5em; margin-right: 10px;">

    </ng-template>
    <ng-template pTemplate="end">
        <p-button label="Formulaire" icon="pi pi-file" [routerLink]="['/form']" iconPos="left" [link]="true"></p-button>
        <p-button label="Historique" icon="pi pi-list" iconPos="left" [routerLink]="['/listing']"
            [link]="true"></p-button>
        <p-button label="Paramètres" icon="pi pi-cog" [routerLink]="['/parameters']" iconPos="left"
            [link]="true"></p-button>
        <p-button icon="pi pi-sign-out" (click)="deconnexion()" iconPos="left" [link]="true"></p-button>
    </ng-template>
</p-menubar>