<p-menubar>
    <ng-template pTemplate="start">
        <h3>Siimply welcome</h3>
    </ng-template>
    <ng-template pTemplate="end">
        <p-button label="Formulaire" icon="pi pi-file" [routerLink]="['/form']" iconPos="left" styleClass="p-button-link"></p-button>
        <p-button label="Historique" icon="pi pi-list" iconPos="left" [routerLink]="['/listing']" styleClass="p-button-link"></p-button>
        <p-button label="Paramètres" styleClass="p-button-link" icon="pi pi-cog" [routerLink]="['/parameters']" iconPos="left"></p-button>
    </ng-template>
</p-menubar>